.hero-section{
    height: 350px;
    width: 1375px;
    display: flex;
    justify-content: center;
    margin-top: 61px;
    margin-right: 30px;
    margin-left: 75px;

    
}

.hero-image{
    height:100%;
    display: flex;
    width: 1400px;
            display: flex;
}
.arrow-left{

}
.arrow-right{
    
}