.shop-section{
    height: 500px;
    display: flex;
    margin-bottom: 28px;
    width: 1226px;
    justify-content: space-between;
    padding-left: 1px;
    margin-left: 75px;
    margin-top: -154px;
    
   
}
.box1{
    height: 350px;
    width: 316px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 13px;
}
.head-text{
    font-size: 16px;
    width: 235px;
    padding-left: 10px;
    margin-bottom: 12px;

}
.content{
    height: 102px;
    display: flex;
    margin-bottom: 28px;
    width: 334px;
    position: relative;
    z-index: 1;

}
.shop-image{
height: 90px;
width: 130px;
margin-left: 19px;
z-index: 0;

}
.content-p1{
    position: absolute;
    bottom: -17px;
    left: 20px;
    font-size: 11px;
    line-height: 18px;
    color: rgb(15, 17, 17);
    z-index: 1;


}
.content-p2{
    position: absolute;
    bottom: -17px;
    left: 170px;
    font-size: 11px;
    line-height: 18px;
    color: rgb(15, 17, 17);
}
.explore-text{
    color: aqua;
    font-size: 14px;
    margin-left: 11px;
    
    padding-top: 9px;
}
